<app-header></app-header>
<div class="container2">
    <!-- <img height="500" src="" alt="Snow" style="width:100%;"> -->
    <h1 class="centered">Show Student Graph</h1>
    <div class="overlay"></div>
</div>
<div class="row">
    <form class="col-12">
        <div class="row m-3">
            <div class="col-12 mb-3">
                <span class="heading">Student Data</span>
            </div>
            <div class="col-md-4 mb-2">
                <div class="form-group">
                    <label class="form-label">Student Number</label>
                    <input type="text" class="form-control" [value]="s_number" readonly disabled>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="form-group">
                    <label class="form-label">Student Name</label>
                    <input type="text" class="form-control" [value]="name" readonly disabled>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="form-group">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" [value]="email" readonly disabled>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="form-group">
                    <label class="form-label">Phone</label>
                    <input type="text" class="form-control" [value]="phone" readonly disabled>
                </div>
            </div>
            <div class="col-12">
                <hr class="mb-4 mt-4">
            </div>
            <div class="col-12 mb-3">
                <span class="heading">Student Behavior</span>
            </div>
            <div class="col-md-4 mb-2">
                <div class="form-group">
                    <label class="form-label">Attendance and departure (%)</label>
                    <input type="number" class="form-control" value="{{attendance}}" readonly disabled>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="form-group">
                    <label class="form-label">Dealing with others (%)</label>
                    <input type="number" class="form-control" value="{{dealing_other}}" readonly disabled>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="form-group">
                    <label class="form-label">Dealing with teaching assistants (%)</label>
                    <input type="number" class="form-control" value="{{dealing_teach}}" readonly disabled>
                </div>
            </div>

            <div class="col-12">
                <hr class="mb-4 mt-4">
            </div>
            <div class="col-12">
                <div class="row" *ngFor="let item of stuGradesData;let i = index;">
                    <div class="col-12 mb-3">
                        <span class="heading">Student Grades for {{trackNames[i]}} subject</span>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Mid-Term Grade</label>
                            <input type="number" class="form-control" value="{{item.midterm}}" readonly disabled>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Final Grade</label>
                            <input type="number" class="form-control" value="{{item.final}}" readonly disabled>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Assignment Grade</label>
                            <input type="number" class="form-control" value="{{item.assignment}}" readonly disabled>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Quiz Grade</label>
                            <input type="number" class="form-control" value="{{item.quiz}}" readonly disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="mb-4 mt-4">


    </form>


    <div class="col-12" *ngIf="isDataLoaded">
        <div class="card m-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart> 
                    </div>
                    <div class="col-md-6">
                        <canvasjs-chart [options]="chartOptions2" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-3" *ngIf="insertedSuccessfully">
        <div class="alert alert-success">{{msg}}</div>
    </div>
    <div class="row m-3" *ngIf="error">
        <div class="alert alert-danger">{{msg}}</div>
    </div>
    <div class="col-12">
        <div class="card m-3">
            <div class="card-body">
                <form class="row" [formGroup]="notifyForm">
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label class="form-label">Tracks</label>
                            <ng-select2 class="form-control" [options]="options" placeholder="Choose Track" (valueChanged)="changeStudent($event)" formControlName="track_id">
                                <option *ngFor="let item of tracksData" [value]="item.id">{{item.name}}</option>
                            </ng-select2>
                            <!-- <ng-select2 class="form-control" [data]="exampleData" [options]="options"></ng-select2> -->
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label class="form-label">Notification Message</label>
                            <textarea placeholder="Enter message to student" rows="3" class="form-control" formControlName="message"></textarea>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button class="btn btn-custom" (click)="sendNotify()" [disabled]="notifyForm.invalid">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>